.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .pageTitle {
    width: 100%;
    font-size: 3rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .section {
    width: 100%;
    max-width: 1200px;
  }
  
  .cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 4px;
    width: 100%;
    max-width: 1200px;
  }
  
  .card {
    perspective: 1000px;
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    position: relative;
    cursor: pointer;
  }
  
  .cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 10px;
    transition: transform 0.6s;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }

  .card:hover .cardFront, 
.card:hover .cardBack {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}
  
  .cardFront {
    background-color: #f1f1f1;
    color: #000;
  }
  
  .cardBack {
    background-color: #000;
    color: #fff;
    transform: rotateY(180deg);
  }
  
  .flipped .cardFront {
    transform: rotateY(180deg);
  }
  
  .flipped .cardBack {
    transform: rotateY(0deg);
  }
  
  .letter {
    font-size: 3rem;
  }
  
  /* Divider styling */
  .divider {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  
  .divider h2 {
    font-size: 1.5rem;
    color: #333;
    padding: 10px 0;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    display: inline-block;
    background-color: #f9f9f9;
    width: 100%;
  }

  .redBackground {
    background-color: #ffffcd;
  }
  .greenBackground {
    background-color: #7fffd4;
  }
  .blueBackground {
    background-color: #ffd700;
  }
  

  .straight {
    display: inline-block;
    writing-mode: vertical-rl; /* Makes the text display vertically */
    font-size: 0.4em; /* Smaller size for phonetic symbols */
    margin-left: 4px;
    transform: rotate(180);
    line-height: 1.2em; /* Adjusts spacing between the vertical symbols */
    vertical-align: middle
  }
  
  .punctuation {
    font-size: 0.5em; /* Keeps punctuation the same size as the main text */
    /* Make this a little under to match the vertical text */
    vertical-align: -0.2em;
    
  }

  .glow {
    background-color: rgba(255, 0, 0, 0.304);
    box-shadow: 0 0 50px rgb(255, 0, 0); /* Change color as needed */
    
  }
  
  